.hero-section {
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../assets/heroImg.jpeg');
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.hero-section .content {
    max-width: 50%;
}

.hero-section h1,
.hero-section p {
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.hero-section button {
    background-color: #cc5500; /* Burnt Orange */
    border: none;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

@media (max-width: 768px) {
    .hero-section .content {
        max-width: 100%;
    }
}